
  
extends layout

block content
  h1= "Informacion de la maquina"
  
  p Nombre del host:  		 #{hostname}
  p Typo sistema operativo:#{typename}
  p Plataforma: 			     #{platform}
  p Arquitecura: 			     #{arquitectura}
  p Release: 				       #{release}
  p Uptime: 				       #{uptime}
  p Load Avg: 				     #{loadavg}
  p Memoria Total: 			   #{totalmem}
  p Memoria Libre: 			   #{freemem}
  p Cpus: 					       #{cpus}
  p Network: 				       #{network}

